<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/weather.png" type="image/x-icon">
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/faiz.png" alt="Me">
        <p>Im a Nodejs Developer</p>
        <p>This app uses data from mapbox.com and weather stack api</p>
    </div>
    {{>footer}}
</body>

</html>