<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/weather.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css" />
    <title>Weather</title>
</head>

<body>
    <div class='main-content'>
        {{>header}}
        <p>We will display weather forecast here</p>
        <form action="0" id='form'>
            <input id='address' type="text" placeholder="Location" />
            <button>
                Search
            </button>
        </form>
        <p id='errorMessage'></p>
        <p id="message"></p>


    </div>
    {{>footer}}
    <script src="./js/script.js"></script>
</body>

</html>